body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7; /* Light gray background */
}

h1 {
    color: #4567b7; /* Primary color */
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Smooth transition effect */
}

input[type="text"]:focus {
    border-color: #4567b7; /* Primary color on focus */
    box-shadow: 0 0 10px rgba(69, 103, 183, 0.5); /* Subtle shadow effect on focus */
}

form button[type="button"] {
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-weight:bold; 
}

form button[type="button"]:hover {
    background-color: #3e8e41; /* Darker shade of the primary color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Increased shadow effect on hover */
}

#lyrics-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}
#artwork-container {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#artwork-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
